body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, p {
  margin: 0;
}

section {
  padding: 80px 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ff4c29;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}
